* {
  box-sizing: border-box;
}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

.intro-body {
  background-color: black;
  color: #fff;
  font-family: "VT323";
  font-size: 22px;
  text-align: center;
  background-image: url("https://cdn.glitch.com/f66772e3-bbf6-4f6d-b5d5-94559e3c1c6f%2FScreenshot%202020-05-19%20at%2013.36.26.png?v=1589892011044");
}

.room-full-body {
  background-color: black;
  color: #fff;
  font-family: "VT323";
  font-size: 52px;
  text-align: center;
  background-image: url("https://cdn.glitch.com/f66772e3-bbf6-4f6d-b5d5-94559e3c1c6f%2FScreenshot%202020-05-19%20at%2013.36.26.png?v=1589892011044");
}

.index-body {
  background-color: black;
  color: #fff;
  font-family: "VT323";
  font-size: 22px;
}

.game-instructions {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.nickname-input {
  width: 30%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.create-room {
  text-align: center;
  display: inline-block;
  width: 60%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-center {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.room-input {
  flex-wrap: nowrap;
  width: 60%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.game-div {
  text-align: center;
}

.game-headline-left {
  float: left;
}

.game-headline-right {
  float: right;
}

.winner-body {
  background-color: black;
  color: #fff;
  font-family: "VT323";
  font-size: 62px;
  text-align: center;
  background-image: url("https://cdn.glitch.com/f66772e3-bbf6-4f6d-b5d5-94559e3c1c6f%2FScreenshot%202020-05-19%20at%2013.36.26.png?v=1589892011044");
}

.winner-div {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 82px;
}

.runner-ups-div {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 42px;
}

/* Modal section */
.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  color: #fff;
  display: none;
}

.modal-content {
  width: 500px;
  height: 300px;
  border: 5px solid white;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: relative;
}

.button {
  background-color: #000;
  border: 2px solid white;
  border-radius: 10px;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 28px;
  color: white;
  margin-top: 10px;
  display: inline-block;
  font-family: "VT323";
}

.button:hover {
  background-color: white;
  color: #000;
  border: 2px solid black;
}

.button:active {
  background-color: white;
  color: #000;
  border: 2px solid black;
}

label {
  display: block;
  margin: 15px auto;
}

.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  cursor: pointer;
}

/* end module*/

.text-group {
  background-color: black;
  border: none;
  color: white;
}

.input-border {
  border-radius: 0%;
}
